<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmf.mapper.ProMapper">
    <resultMap id="selP" type="product">
        <id property="id" column="ID"/>
        <result property="proNum" column="PRO_NUM"/>
        <result property="proname" column="PRO_NAME"/>
        <result property="proJianma" column="PRO_JIANMA"/>
        <result property="proTypeID" column="PRO_TYPEID"/>
        <result property="proSupperlierID" column="PRO_SUPPLIERID"/>
        <result property="proPutawaydate" column="PRO_PUTAWAYDATE"/>
        <result property="proPurl" column="PRO_PURL"/>
        <result property="proSPurl" column="PRO_PSHOWURL"/>
        <result property="zengPing" column="YORN_ZENGPING"/>
        <result property="change" column="YORN_CHANGE"/>
        <result property="regdate" column="PRO_REGDATE"/>
    </resultMap>
    <resultMap id="seltype" type="ptype">
        <id property="id" column="ID"/>
        <result property="typeNum" column="PTYPE_NUM"/>
        <result property="typeName" column="PTYPE_NAME"/>
        <result property="use" column="YORN_USE"/>
        <result property="regDate" column="PTYPE_REGDATE"/>
    </resultMap>
    <resultMap id="selDet" type="prodet">
        <id property="id" column="ID"/>
        <result property="pnum" column="PRO_NUM"/>
        <result property="dnum" column="PRO_DETAILENUM"/>
        <result property="ddes" column="PRO_DES"/>
        <result property="durl" column="PRO_PURL"/>
        <result property="dsurl" column="PRO_SHOWPURL"/>
        <result property="chengben" column="PRO_CHENGBEN"/>
        <result property="shoujia" column="PRO_SHOUJIA"/>
        <result property="use" column="YORN_USE"/>
        <result property="regdate" column="PRO_REGDATE"/>
    </resultMap>
    <insert id="addPro" parameterType="product">
        insert into pro_product(PRO_NUM,PRO_NAME,PRO_JIANMA,PRO_TYPEID,PRO_SUPPLIERID,PRO_PUTAWAYDATE,PRO_PURL,PRO_PSHOWURL
        ,YORN_ZENGPING,YORN_CHANGE,PRO_REGDATE)values(#{proNum},#{proname},#{proJianma},#{proTypeID},#{proSupperlierID}
        ,#{proPutawaydate},#{proPurl},#{proSPurl},#{zengPing},#{change},#{regdate})
    </insert>
    <insert id="savePtype" parameterType="ptype">
        insert into pro_ptype(PTYPE_NUM,PTYPE_NAME,YORN_USE,PTYPE_REGDATE)values(#{typeNum},#{typeName},#{use},#{regDate})
    </insert>
    <select id="selAllPtype" resultMap="seltype">
        select * from pro_ptype
    </select>
    <select id="selTypeIdByproType" parameterType="string" resultType="int">
        select ID from pro_ptype where PTYPE_NAME=#{proType}
    </select>
    <select id="selsnameBysupplier" parameterType="string" resultType="int">
        select SUPPLIER_NAME from pro_supplier where SUPPLIER_NAME=#{supplier}
    </select>
    <insert id="saveSupplier" parameterType="supplier">
        insert into pro_supplier(SUPPLIER_NUM,SUPPLIER_NAME,SUPPLIER_COMMPANY,SUPPLIER_ADDRESS,SUPPLIER_REGDATE)
        values(#{snum},#{sname},#{scommpany},#{saddress},#{regdate})
    </insert>
    <select id="selAllPro" resultMap="selP">
        select * from pro_product
    </select>
    <select id="selProurl" parameterType="int" resultMap="selP">
        select * from pro_product where ID=#{id}
    </select>
    <insert id="savePdet" parameterType="prodet">
        insert into pro_detaile(PRO_NUM,PRO_DETAILENUM,PRO_DES,PRO_PURL,PRO_SHOWPURL,PRO_CHENGBEN,PRO_SHOUJIA,YORN_USE
        ,PRO_REGDATE) values(#{pnum},#{dnum},#{ddes},#{durl},#{dsurl},#{chengben},#{shoujia},#{use},#{regdate})
    </insert>
    <select id="selAllprodetBypnum" parameterType="prodet" resultMap="selDet">
        select * from pro_detaile where PRO_NUM=#{prodet.pnum}
    </select>
    <select id="selPdturl" parameterType="int" resultType="string">
        select PRO_SHOWPURL from pro_detaile where ID=#{id}
    </select>
</mapper>