<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gmf.mapper.UserMapper">

    <resultMap id="selU" type="user">
        <id property="id" column="ID"/>
        <result property="userNum" column="USER_NUM"/>
        <result property="username" column="USER_ZH"/>
        <result property="password" column="USER_PASSWORD"/>
        <result property="userType" column="USER_TYPE"/>
        <result property="userCardnum" column="USER_CARDNUM"/>
        <result property="userBirth" column="USER_BIRTH"/>
        <result property="userRealname" column="USER_REALNAME"/>
        <result property="userRegdate" column="USER_REGDATE"/>
        <result property="userCredits" column="USER_CREDITS"/>
        <result property="userBalance" column="USER_BALANCE"/>
        <result property="userEmail" column="USER_EMAIL"/>
        <result property="userTotalmoney" column="USER_TOTALMONEY"/>
        <result property="userPhone" column="USER_PHONE"/>
        <result property="mainAddressID" column="USER_ADDID"/>
        <result property="salt" column="SALT"/>
    </resultMap>
    <resultMap id="selA" type="address">
        <id property="id" column="ID"/>
        <result property="userNum" column="USER_NUM"/>
        <result property="province" column="PROVINCE"/>
        <result property="city" column="CITY"/>
        <result property="detAddress" column="ADDRESS_DETAILE"/>
        <result property="moren" column="YORN_MAIN"/>
        <result property="use" column="YORN_USE"/>
        <result property="regdate" column="ADDRESS_REGDATE"/>
    </resultMap>

    <insert id="saveUser" parameterType="user">
        insert into USER_USER(USER_NUM,USER_ZH,USER_PASSWORD,USER_TYPE,USER_CARDNUM,USER_BIRTH,
        USER_REALNAME,USER_REGDATE,USER_CREDITS,USER_BALANCE,USER_EMAIL,USER_TOTALMONEY,USER_PHONE,USER_ADDID,SALT)
        values(#{userNum},#{username},#{password},#{userType},#{userCardnum},#{userBirth},
        #{userRealname},#{userRegdate},#{userCredits},#{userBalance},#{userEmail},#{userTotalmoney},#{userPhone},
        #{mainAddressID},#{salt}
        )
    </insert>
   <!-- username;password;userNum;userType;userCardnum;userBirth;userRealname;userRegdate;userCredits;
    userBalance; userEmail;mainAddressID;userTotalmoney;userPhone;salt;-->
    <select id="selUserByusercode" parameterType="string" resultMap="selU">
        select * from USER_USER where USER_ZH=#{usercode}
    </select>
    <select id="selUserByname" parameterType="string" resultType="string">
         select USER_ZH from USER_USER where USER_ZH=#{name}
    </select>
    <update id="updateOne" parameterType="user">
        update  USER_USER set USER_PASSWORD=#{user.password},USER_BIRTH=#{use.userBirth},USER_EMAIL=#{use.userEmail}
        ,USER_PHONE=#{user.userPhone} where USER_ZH=#{user.username}
    </update>
    <select id="selAddByunum" parameterType="string" resultMap="selA">
        select * from user_address where USER_NUM=#{unum}
    </select>
    <insert id="addAddbyunum" parameterType="address">
        insert into user_address(USER_NUM,PROVINCE,CITY,ADDRESS_DETAILE,YORN_MAIN,YORN_USE,ADDRESS_REGDATE)
         values(#{userNum},#{province},#{city},#{detAddress},#{moren},#{use},#{regdate})
    </insert>
    <delete id="delAddByunum" parameterType="int">
        delete from user_address  where id=#{id}
    </delete>
    <select id="findAllProvince"  resultType="province">
        SELECT *  FROM province
    </select>
    <select id="findAllCityByProvincename"  parameterType="string" resultType="city">
        SELECT c.*  FROM province p LEFT JOIN city c ON p.id=c.province_id WHERE p.name=#{provincename}
    </select>
    <update id="updateAddByunum" parameterType="address">
        update user_address set PROVINCE=#{province},CITY=#{city},ADDRESS_DETAILE=#{detAddress},YORN_MAIN=#{moren},
        YORN_USE=#{use},ADDRESS_REGDATE=#{regdate} where ID=#{id}
    </update>
</mapper>